# Copyright 2022, Oracle Corporation and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at
# https://oss.oracle.com/licenses/upl.

# ---------------------------------------------------------------------------
# Coherence CLI GitHub Actions Stress build.
# ---------------------------------------------------------------------------
name: Stress

on:
  workflow_dispatch:
    inputs:
      iterations:
         description: 'Number of iterations'
         required: true
         default: '1000'
  schedule:
    # Every day at midnight
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

#   Checkout the source, we need a depth of zero to fetch all of the history otherwise
#   the copyright check cannot work out the date of the files from Git.
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Get Docker Images
      shell: bash
      run: |
        docker pull gcr.io/distroless/java:11

    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: '11'

    - name: Cache Go Modules
      uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-mods-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-mods-

    - name: Cache Maven packages
      uses: actions/cache@v1
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17.x

    - name: Build Test Images
      shell: bash
      run: PROFILES=,executor COHERENCE_VERSION=22.06 make clean build-test-images

    - name: Run Stress Test
      shell: bash
      run:  |
        make cohctl test-cohctl
        make test-cluster-startup 
        ITERS="${{ github.event.inputs.iterations }}"
        if [ -z "$ITERS" ] ; then
            ITERS=50000
        fi
        # Sleep for 20 seconds to allow management startup
        sleep 20
        ./scripts/run-stress-test.sh `pwd`/bin/cohctl $ITERS `pwd`/build/_output
        ret=$?
        make test-cluster-shutdown
        exit $ret

    - uses: actions/upload-artifact@v1
      if: failure()
      with:
        name: test-output
        path: build/_output/stress.log
